* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #e9ecef;
}

#header-gral {
  width: 100%;
  /* margin: 2%; */
}

.header-div {
  width: 100%;
  /* margin-left: 10%;
  margin-right: 10%; */
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  background-color: #e9ecef;
}

.header-list {
  width: 60%;
  height: auto;
  display: flex;
  gap: 5%;
}

.header-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 5%;
}

.perfil {
  width: 15%;
  border-radius: 15%;
}

.header-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-list li a {
  text-decoration: none;
  color: black;
}

.header-img {
  display: flex;
  gap: 15px;
}

#main-gral {
  width: 100%;
}

.main-div {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.main-div img {
  width: 100%;
  height: 36rem;
}

.main-div h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%);
  color: black;
  font-size: 46px;
  font-weight: 600;
}

.categories {
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.categories-macetas {
  width: 400px;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  gap: 45px;
}

.categories-macetas h2 {
  text-align: center;
  color: brown;
  font-size: 50px;
  font-weight: 800;
}

.categories-macetas img {
  width: 55%;
}

.categories-macetas input {
  font-size: 18px;
  font-size: 600;
  background: none;
  padding: 3px;
  background-color: brown;
  color: white;
  width: 35%;
  cursor: pointer;
}

.categories-plantas {
  width: 400px;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  gap: 45px;
}

.categories-plantas h2 {
  text-align: center;
  color: brown;
  font-size: 50px;
  font-weight: 800;
}

.categories-plantas img {
  width: 43%;
}

.categories-plantas input {
  font-size: 18px;
  font-size: 600;
  background: none;
  padding: 3px;
  background-color: brown;
  color: white;
  width: 35%;
  cursor: pointer;
}

.categories-sustrato {
  width: 400px;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  gap: 45px;
}

.categories-sustrato h2 {
  text-align: center;
  color: brown;
  font-size: 50px;
  font-weight: 800;
}

.categories-sustrato img {
  width: 55%;
}

.categories-sustrato input {
  background: none;
  font-size: 18px;
  font-size: 600;
  color: white;
  padding: 3px;
  align-items: center;
  background-color: brown;
  width: 35%;
  cursor: pointer;
}

.about {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  gap: 75px;
}

.about-nos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-nos h2 {
  font-size: 48px;
  font-weight: 800;
  color: black;
  text-decoration: underline;
}

.about-nos img {
  width: 12%;
}

.about-descripcion {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  border: 2px solid black;
}

.about-descripcion p {
  width: 30%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.about-descripcion img {
  width: 30%;
}
